/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lightblue: #1D77AD;
    --darkblue: #1A5C81;
    --offwhite: #ECECEC;
    --black: #141414;
    --lightgrey: #AAA;
    --darkgrey: #303030;
}

/* HTML Selectors */
body {
    font-family: 'Roboto', Helvetica, sans-serif;
    background-color: var(--darkgrey);
}

header {
    background-color: var(--offwhite);
}

header img {
 width: 100%;
}

nav {
    background-color: var(--black);
    width: 100%;
    top: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

nav ul li {
    flex: 1 1 auto;
}

nav ul li:first-child {
    display: block;
    font-size: 2rem;
}

nav ul li:first-child a {
    padding: 1px 10px;
}

nav ul li {
    display: none;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    font-size: 20px;
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    font-weight: 600;
    color: var(--offwhite);
    text-align: center;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

nav ul li a:hover {
    background-color: var(--offwhite);
    color: var(--black);
}

#indexbody {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 4vw 1fr 1vw 1fr 2vw;
}

#indexbody h1 {
    font-size: 8vw;
    grid-column: 1/6;
}

#indexbody p {
    grid-column: 1/6;
    margin: 2vw 4vw;
    padding: 2vw 2vw;
    background-color: var(--lightgrey);
    font-size: 2.5vw;
}

#indexbody #instapage {
    grid-column: 2/3;
    width: 100%;
}

#ph1 {
    font-size: 6.5vw;
}

/* Styles for dropdown */
.dropdown {
    position: relative;
  }

  .dropdown-content > li:first-child a{
    padding: 15px 5px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--darkgrey);
    min-width: 160px;
    z-index: 1;
    list-style-type: none;
    padding: 0;
    border: 5px solid var(--black);
  }
  .dropbtn {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 8px 16px;
  }

  .dropdown li a {
    text-align: center;
    padding: 15px 5px;
  }
  
  .dropdown-content li {
    border: 1px solid var(--lightblue);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* Carousel Styles */
.carousel {
    width: 100%; /* Set your desired carousel width */
    overflow: hidden;
    position: relative;
    border: 20px solid var(--darkblue);
  }
  
  .slides {
    display: flex;
    transition: transform 1s ease;
  }
  
  .slides img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 10s ease;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--offwhite);
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  


h1,
h2 {
    text-align: center;
    margin: 1rem 0 .5rem;
}

h1 {
    color: var(--offwhite);
    font-size: 65px;
}

#gridly h1 {
    margin: 20px;
}

h2 {
    font-size: 1.5rem;
    color: navy;
    text-align: center;
    margin-top: 25px;
}

h3 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

picture {
    margin: 0 auto;
}

picture img {
    width: 240px;
    height: auto;
    border-radius: 5%;
    border: 1px solid #ccc;
    box-shadow: 0 0 30px #777;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: #eee;
}

article {
    margin-bottom: 1rem;
}

article div {
    margin-bottom: .5rem;
    text-align: right;
}

label {
    padding: .35rem;
}

input {
    padding: .35rem;
}

input[type="button"] {
    padding: .5rem;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
}

dt {
    font-weight: 700;
}

dt::before {
    content: "🏘️ ";
}

dd {
    margin: 0 0 .5rem 2rem;
    font-size: smaller;
}

footer {
    background-color: var(--darkblue);
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}

/* Class Selectors */
.active {
    border-bottom: 1px solid var(--lightblue);
}

.open li {
    display: block;
}

.block {
    display: block;
}

.larger {
    font-size: larger;
    color: red;
}

.right {
    width: 100%;
    text-align: right;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1rem;
}

/* ID Selectors */

#home {
    margin-top: 125px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
}


#section1 {
    background-color: rgb(225, 250, 225, .5);
}

#section2 {
    background-color: rgba(200, 200, 250, 0.5);

}

#section2 div {
    margin-bottom: 1rem;
}

#section3 {
    background-color: rgb(250, 225, 250, .5);
}

#banner {
    max-width: 100%;
}

#sortBy {
    appearance: none;
    display: flex;
    padding: .5rem;
    background-color: var(--offwhite);
    color: var(--darkgrey);
    font-weight: 700;
    font-size: large;
    margin: 1rem auto;
    width: 200px;
    border: 1px solid --darkblue;
    text-align: center;
}

#sortBy:hover {
    background-color: var(--lightgrey);
}

#sortBy option:disabled {
    font-style: italic;
    padding: 1rem;
    background-color: var(--darkblue);
    color: var(--offwhite);
}

#cars {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: .5rem;
    align-items: center;
    margin-bottom: 3rem;
}

#brands {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: .5rem;
    align-items: center;
    margin-bottom: 3rem;
}

#cars article {
    height: auto;
    margin: .5rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: var(--offwhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#brands article {
    height: auto;
    margin: .5rem;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 1rem;
    background-color: var(--offwhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cars iframe {
    width: 250px;
    height: auto;
    box-shadow: 0 0 60px var(--darkblue);
    margin: .5rem;
}

.class-header {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
}

.class-info {
    grid-column: 1;
    display:grid;
    grid-template-columns: 1;
    grid-template-rows: 2fr 3fr;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    align-self: stretch;
    grid-row: 2;
}

.class-info h1{
    grid-row: 1;
}

.class-info p{
    grid-row: 2;
    font-size: 25px;
    color: black;
    background-color: var(--lightgrey);
    padding: 20px 20px;
    margin: 20px 30px;
}



.class-header img {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    max-width: 1000px;
}

#development {
    display: block;
    padding: 40px;
    max-width: 300px;
    margin: auto;
}

/* Media Queries */
@media only screen and (min-width: 65.5em) {
    nav ul {
        flex-direction: row;
    }

    nav ul li:first-child {
        display: none;
    }

    .dropdown-content > li:first-child {
        display: block;
    }

    nav ul li {
        display: block;
    }


    .class-header {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1;

    }
    .class-header img {
        grid-column: 1;
    }
    .class-info{
        grid-column: 2;
        grid-row: 1;
    }

    section {
        min-width: 300px;
    }

    #home {
        margin: 100px auto 20px;
        grid-template-columns: 250px 1fr;
        max-width: -moz-fit-content;
        max-width: fit-content;
    }

}